* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: .14rem;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 625%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a {
  color: #000;
}

input,
button,
textarea,
select {
  outline: none;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 0.4rem;
  line-height: .4rem;
  display: flex;
  justify-content: space-between;
}

.header .icons {
  width: 10%;
  height: 100%;
  text-align: center;
}

.header .oInp {
  width: 90%;
  height: 0.3rem;
  margin-right: .1rem;
  position: relative;
}

.header .oInp input {
  width: 60%;
  height: 0.3rem;
  border: none;
}

.header .oInp .icon {
  position: absolute;
  left: .1rem;
  top: -.04rem;
}

.header .oInp span {
  height: .3rem;
  position: absolute;
  right: .2rem;
  top: -.04rem;
}

.main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

.search_cont,
.search_init {
  width: 100%;
}

.search_cont a,
.search_init a {
  display: inline-block;
  background: #f7715a;
  line-height: .24rem;
  padding: 0 .2rem;
  border-radius: .04rem;
  margin: .05rem .05rem;
  font-size: .14rem;
  color: #766d5d;
}

.search_cont a:nth-child(even),
.search_init a:nth-child(even) {
  background: lightblue;
}

.dl_list {
  width: 100%;
}

.dl_list dl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.dl_list dl dt {
  position: relative;
}

.dl_list dl dt b {
  position: absolute;
  top: 1%;
  left: 1%;
  background: red;
  font-weight: normal;
  color: #fff;
}

.dl_list dl dt img {
  width: 100%;
  height: auto;
}

.dl_list dl dd {
  padding: .1rem .05rem;
}

.dl_list dl dd h2 {
  font-size: .18rem;
  font-weight: 400;
  padding: .05rem 0;
}

.dl_list dl dd h3 {
  font-size: .14rem;
  font-weight: 400;
  padding: .05rem 0;
}

.dl_list dl dd h4 {
  font-size: .13rem;
  font-weight: 400;
  padding: .05rem 0;
}

.dl_list dl dd p span {
  display: inline-block;
  padding: 0 .1rem;
  font-size: .12rem;
  margin: .03rem .03rem;
  border: 1px solid skyblue;
  border-radius: .06rem;
}

.history_list {
  padding: .1rem .1rem;
  width: 100%;
}

.history_list li {
  display: flex;
}

.history_list li em {
  font-style: normal;
  margin-left: .2rem;
}
