@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: .14rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 625%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

a {
    color: #000;
}

input,
button,
textarea,
select {
    outline: none;
}

@mixin wenben($b:2) {
    display: box;
    display: -webkit-box;
    word-break: break-all;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: $b;
    -webkit-line-clamp: $b;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin num($w, $h) {
    width: $w;
    height: $h;
}

@mixin cir($c) {
    width: $c;
    height: $c;
    border-radius: 50%;
    display: inline-block;
}

@mixin flex($f:space-between) {
    display: flex;
    display: -webkit-flex;
    justify-content: $f;
    -webkit-justify-content: $f;
    align-items: center;
    -webkit-align-items: center;
}

%text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

body,
html,
.wrap {
    @include num(100%, 100%);
}

.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    @include num(100%, .4rem);
    line-height: .4rem;
    display: flex;
    justify-content: space-between;
    .icons {
        @include num(10%, 100%);
        text-align: center;
    }
    .oInp {
        @include num(90%, .3rem);
        margin-right: .1rem;
        position: relative;
        input {
            @include num(60%, .3rem);
            border: none;
        }
        .icon {
            position: absolute;
            left: .1rem;
            top: -.04rem;
        }
        span {
            height: .3rem;
            position: absolute;
            right: .2rem;
            top: -.04rem;
        }
    }
}

.main {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
}

.search_cont,
.search_init {
    width: 100%;
    a {
        display: inline-block;
        background: #f7715a;
        line-height: .24rem;
        padding: 0 .2rem;
        border-radius: .04rem;
        margin: .05rem .05rem;
        font-size: .14rem;
        color: #766d5d;
    }
    a:nth-child(even) {
        background: lightblue;
    }
}

.dl_list {
    width: 100%;
    dl {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #eee;
        dt {
            position: relative;
            b {
                position: absolute;
                top: 1%;
                left: 1%;
                background: red;
                font-weight: normal;
                color: #fff;
            }
            img {
                @include num(100%, auto);
            }
        }
        dd {
            padding: .1rem .05rem;
            h2 {
                font-size: .18rem;
                font-weight: 400;
                padding: .05rem 0;
            }
            h3 {
                font-size: .14rem;
                font-weight: 400;
                padding: .05rem 0;
            }
            h4 {
                font-size: .13rem;
                font-weight: 400;
                padding: .05rem 0;
            }
            p {
                span {
                    display: inline-block;
                    padding: 0 .1rem;
                    font-size: .12rem;
                    margin: .03rem .03rem;
                    border: 1px solid skyblue;
                    border-radius: .06rem;
                }
            }
        }
    }
}

.history_list {
    padding: .1rem .1rem;
    width: 100%;
    li {
        display: flex;
        em {
            font-style: normal;
            margin-left: .2rem;
        }
    }
}