* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: .14rem;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 625%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a {
  color: #000;
}

input,
button,
textarea,
select {
  outline: none;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 0.4rem;
  display: flex;
  justify-content: space-between;
  line-height: .4rem;
  background: #efeff0;
}

.header .l {
  width: 10%;
  height: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .l img {
  width: .24rem;
  height: .24rem;
}

.header .c {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.header .c span.active {
  color: orange;
  border-bottom: 1px solid #000;
}

.header .icon {
  width: 10%;
  height: 0.4rem;
  font-size: .2rem;
}

.main {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.main .content {
  display: flex;
  width: 100%;
  display: flex;
  height: 100%;
}

.main .content > div {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.main .content .search_btn {
  border: 1px solid #f5f5f5;
  width: 94%;
  height: .34rem;
  padding: .1rem .1rem;
  margin: .1rem .1rem;
}

.main .content .search_btn a {
  color: rgba(0, 0, 0, 0.4);
  font-size: .14rem;
}

.book_city_cont {
  width: 100%;
}

.book_city_cont .banner img {
  width: 100%;
}

.book_city_cont .bolck_list h2 {
  line-height: .4rem;
  border-left: .04rem solid orange;
  padding-left: .1rem;
  font-size: .16rem;
  font-weight: bold;
  border-bottom: .01rem solid #ccc;
}

.book_city_cont .bolck_list ul {
  display: flex;
  flex-wrap: wrap;
}

.book_city_cont .bolck_list ul li {
  width: 33%;
}

.book_city_cont .bolck_list ul li dl {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  padding: .1rem .1rem;
}

.book_city_cont .bolck_list ul li dl dt {
  width: 100%;
  height: 1.4rem;
}

.book_city_cont .bolck_list ul li dl dt img {
  width: 90%;
  height: auto;
}

.book_city_cont .bolck_list ul li dl dd {
  width: 100%;
  height: auto;
  text-align: center;
  color: #8d8d8d;
  margin-top: .1rem;
}

.book_self {
  width: 100%;
  height: auto;
  overflow-y: scroll;
}

.book_self header {
  width: 100%;
  height: 0.42rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_self header input {
  width: 75%;
  height: 0.3rem;
  border: 0;
}

.book_self .z-dl .add-dl {
  width: 100%;
  height: auto;
}

.book_self .z-dl .add-dl dl {
  width: 100%;
  height: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.book_self .z-dl .add-dl dl dt {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_self .z-dl .add-dl dl dt img {
  width: 80%;
  height: auto;
}

.book_self .z-dl .add-dl dl dd {
  width: 70%;
  height: 100%;
}

.book_self .z-dl .add-dl dl dd h3 {
  line-height: .3rem;
}

.book_self .z-dl .add-dl dl dd h3:nth-of-type(2),
.book_self .z-dl .add-dl dl dd h3:nth-of-type(3) {
  font-size: .12rem;
  font-weight: normal;
  line-height: .25rem;
}

.recommend_list,
.gril_love,
.boy_love,
.load_cont {
  width: 100%;
  height: auto;
  margin-bottom: .1rem;
}

.recommend_list > h2,
.gril_love > h2,
.boy_love > h2,
.load_cont > h2 {
  height: .4rem;
  line-height: .4rem;
  border-left: 4px solid orange;
  padding-left: .1rem;
  font-size: .16rem;
  font-weight: normal;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.recommend_list .recommend_title,
.gril_love .recommend_title,
.boy_love .recommend_title,
.load_cont .recommend_title {
  display: flex;
  align-items: center;
  padding: .1rem 0;
  border-bottom: 1px solid #eee;
}

.recommend_list .recommend_title b,
.gril_love .recommend_title b,
.boy_love .recommend_title b,
.load_cont .recommend_title b {
  font-weight: 400;
  padding-left: .1rem;
  color: red;
  padding: 0 .1rem;
}

.recommend_list .recommend_title h2,
.gril_love .recommend_title h2,
.boy_love .recommend_title h2,
.load_cont .recommend_title h2 {
  font-weight: 400;
}

.recommend_list .recommend_title span,
.gril_love .recommend_title span,
.boy_love .recommend_title span,
.load_cont .recommend_title span {
  padding: 0 .1rem;
  font-size: .12rem;
  color: #ccc;
}

.recommend_list .loading,
.gril_love .loading,
.boy_love .loading,
.load_cont .loading {
  width: 100%;
  height: 0.4rem;
  border: none;
  text-align: center;
}

.recommend_list .change_btn,
.gril_love .change_btn,
.boy_love .change_btn,
.load_cont .change_btn {
  width: 100%;
  height: 0.4rem;
  border: none;
  color: #1f1b1b;
  background: #b9bdbd;
  line-height: .4rem;
}

.dl_list {
  width: 100%;
}

.dl_list dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin: 0.1rem .2rem;
}

.dl_list dl dt {
  width: 30%;
  height: auto;
  padding: 0.05rem;
  position: relative;
}

.dl_list dl dt em {
  font-style: normal;
}

.dl_list dl dt b {
  position: absolute;
  top: .1rem;
  left: .1rem;
  background: red;
  font-weight: normal;
  color: #fff;
}

.dl_list dl dt img {
  width: 100%;
}

.dl_list dl dd {
  width: 70%;
  height: auto;
  font-weight: normal;
  margin-left: .1rem;
}

.dl_list dl dd h2 {
  font-size: .16rem;
  line-height: .3rem;
  color: rgba(0, 0, 0, 0.9);
}

.dl_list dl dd h3 {
  font-size: .14rem;
  line-height: .25rem;
}

.dl_list dl dd h4 {
  font-size: .1rem;
  height: .5rem;
  color: rgba(0, 0, 0, 0.6);
}

.dl_list dl dd p span {
  display: inline-block;
  font-size: .12rem;
  margin: .03rem .03rem;
  color: #53ac7d;
  border-radius: 3px;
  border: 1px solid #53ac7d;
}

.sift_list h2 {
  height: .4rem;
  line-height: .4rem;
  border-left: 4px solid orange;
  padding-left: .1rem;
  font-size: .16rem;
  font-weight: normal;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.sift_list .sift_cont {
  display: flex;
}

.sift_list .sift_cont img {
  width: 100%;
  padding: .04rem .04rem;
}

.search_btn {
  position: relative;
}
