* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: .14rem;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 625%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a {
  color: #000;
}

input,
button,
textarea,
select {
  outline: none;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: .16rem;
  position: relative;
}

.menu {
  width: 100%;
  color: #fff;
}

.menu .top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: .4rem;
  background: black;
  font-size: .16rem;
}

.menu .top span {
  line-height: .4rem;
  color: #fff;
}

.menu .top i {
  color: #fff;
  font-weight: 200;
  font-size: .2rem;
  margin: 0 .1rem;
}

.menu .bottom {
  width: 100%;
  height: .4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: .4rem;
  background: black;
  display: flex;
  flex-direction: column;
}

.menu .bottom .bot_top,
.menu .bottom .bot_bottom,
.menu .bottom .config_box {
  display: flex;
  justify-content: space-around;
  line-height: .3rem;
}

.menu .bottom .bot_top p,
.menu .bottom .bot_bottom p,
.menu .bottom .config_box p {
  line-height: .3rem;
}

.menu .bottom .bot_top p b,
.menu .bottom .bot_bottom p b,
.menu .bottom .config_box p b {
  color: #fff;
  width: 100%;
  line-height: .3rem;
}

.menu .bottom .bot_top li,
.menu .bottom .bot_bottom li,
.menu .bottom .config_box li {
  line-height: .3rem;
}

.menu .bottom .bot_top h5,
.menu .bottom .bot_bottom h5,
.menu .bottom .config_box h5 {
  font-weight: 400;
}

.menu .bottom .bot_top button,
.menu .bottom .bot_bottom button,
.menu .bottom .config_box button {
  width: .22rem;
  height: .22rem;
  margin-top: .04rem;
  border: none;
  background: skyblue;
  border-radius: .1rem;
}

.content {
  flex: 1;
  overflow-y: scroll;
  padding: 0 .1rem;
  box-sizing: border-box;
}

.content h2 {
  font-size: .2rem;
  text-align: center;
  line-height: .4rem;
}
