<dl>
    <dt><img src="{{item.cover}}"></dt>
    <dd>
        <h3>{{item.title}}</h3>
        <h3>{{item.authors}}</h3>
        <h3>
            <p class="star star{{item.source}}"></p>
            <p>{{item.rights_id}}个评价</p>
        </h3>
        <h3>价格:&nbsp;&nbsp;{{item.price}}书币/千字</h3>
        <h3>字数:&nbsp;&nbsp;{{#wordcount item.word_count}}{{/wordcount}}万字<b>{{#finish item.finish}}{{/finish}}</b></h3>
    </dd>
</dl>
<div class="btn">
    <a href="text.html?id={{item.source_id}}">开始阅读</a>
    <a href="">下载</a>
</div>
<p class="info">
    {{item.content}}
</p>
<p class="last">
    <a href="menu.html?id={{item.source_id}}"> 最新：{{item.latest}}更新于{{#updataTime item.updated}}{{/updataTime}}</a>
</p>
<div class="tagbox">
    <h2>类别标签</h2>
    <p>
        {{#each item.tags}}
        <span>{{this}}</span> {{/each}}
    </p>
</div>
<div class="outherbox">
    <h5>作者其他图书</h5>
    {{#each author_books}}
    <a href="javascript:;">
        <img src="{{cover}}">
        <span>{{title}}</span>
    </a>
    {{/each}}
</div>